.contacts {
    margin-bottom: 40px;
}

.contacts__title {
    margin-bottom: 24px;
}

.contacts__field {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 16px;
    border: 2px solid #8F8F8F;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $basicText;
}

.contacts__field--address {
    padding: 12px 42px 12px 16px;
    resize: none;
    overflow: hidden;
    position: relative;
}

.contacts_address-button {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 16px;
    right: 8px;
    padding: 10px;
    cursor: pointer;
}

.contacts__container {
    position: relative;
}

.contacts__name {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $secondText;
    background-color: $basicBgColor;
    top: -11px;
    left: 16px;
    padding: 4px;
}

.contacts__address-map {
    width: 288px;
    height: 220px;;
}