.main-header__container {
    
    @media (min-width: $desktop) {
        margin: 0 200px;
        display: grid;
        grid-template-columns: 400px 400px 400px;
        align-items: center;
        height: 72px;
    }
}

.main-header {
    
    @media (min-width: $desktop) {
        border-bottom: 0.5px solid #C8C8C8;
        margin-bottom: 50px;
    }
}