@mixin h1Font {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
}

@mixin h2Font {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
}

@mixin h3Font {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}