.order-form__title {
    margin-bottom: 10px;

    @media (min-width: $desktop) {
        margin-bottom: 0;
        margin-right: 20px;
        font-weight: 400;
        font-size: 40px;
        line-height: 42px;
    }
}

.order-form__title-container {
    margin-bottom: 32px;

    @media (min-width: $desktop) {
        display: flex;
        align-items: flex-end;
    }
}

.order-form__account {
    display: flex;
    flex-wrap: wrap;
}

.order-form__account-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $secondText;
    margin-right: 5px;
}

.order-form__account-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $basicText;
}