.site-list__item {
    padding: 16px;
    border-bottom: 2px solid $secondBgColor;
    width: $mobile;
    padding: 16px;
    text-align: center;
}

.site-list__link {
    padding: 16px auto;
    color: $basicText;
}