.user-nav {
    position: absolute;
    background-color: $basicBgColor;
    z-index: 10;

    @media (min-width: $desktop) {
        position: static;
        display: block;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}
