* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #8F8F8F;
}

body {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  background-color: #ffffff;
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 1600px) {
  body {
    max-width: 1600px;
  }
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  color: #000000;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

fieldset {
  border: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  width: 288px;
  margin: 0 auto;
}
@media (min-width: 1600px) {
  .main-container {
    width: 1200px;
  }
}

.header-box {
  min-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 16px;
}
@media (min-width: 1600px) {
  .header-box {
    margin: 0 200px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

.header-box__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 80px;
}

.header-box__user-button {
  width: 28px;
  height: 23px;
  padding: 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.header-box__user-button img {
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 1600px) {
  .header-box__user-button {
    display: none;
  }
}

.header-box__nav-button {
  width: 32px;
  height: 23px;
  padding: 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.header-box__nav-button img {
  position: absolute;
  top: 8px;
  left: 0;
}
@media (min-width: 1600px) {
  .header-box__nav-button {
    display: none;
  }
}

@media (min-width: 1600px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
  }
}

.site-list__item {
  padding: 16px;
  border-bottom: 2px solid #f1f1f1;
  width: 320px;
  padding: 16px;
  text-align: center;
}
@media (min-width: 1600px) {
  .site-list__item {
    padding: 0;
    border: none;
    width: auto;
  }
}

.site-list__link {
  padding: 16px auto;
  color: #000000;
}
@media (min-width: 1600px) {
  .site-list__link {
    margin-right: 40px;
  }
}

@media (min-width: 1600px) {
  .user-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.user-list__item {
  padding: 16px;
  border-bottom: 2px solid #f1f1f1;
  width: 320px;
  padding: 16px;
  text-align: center;
}
@media (min-width: 1600px) {
  .user-list__item {
    padding: 0;
    border: none;
    width: auto;
  }
}

.user-list__link {
  padding: 16px auto;
  color: #000000;
  position: relative;
}

@media (min-width: 1600px) {
  .user-list__link-text {
    display: none;
  }
}

.user-list__link-img {
  display: none;
}
@media (min-width: 1600px) {
  .user-list__link-img {
    display: block;
    margin-right: 30px;
  }
}

.user-list__link-info-container {
  display: none;
}
@media (min-width: 1600px) {
  .user-list__link-info-container {
    display: block;
    position: absolute;
    top: -4px;
    right: 26px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 10px;
    line-height: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1600px) {
  .user-list__link-info-container--hidden {
    display: none;
  }
}

@media (min-width: 1600px) {
  .user-list__link-search {
    background-image: url("..//..//img/search.svg");
  }
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumb__link {
  color: #6e6e6e;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-right: 24px;
  position: relative;
}

.breadcrumb__link:not(.breadcrumb__link--current)::before {
  position: absolute;
  content: "/";
  color: #6e6e6e;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-right: 24px;
  top: 0;
  right: -38px;
}

.breadcrumb__link--current {
  color: #000000;
}

.order-form__title {
  margin-bottom: 10px;
}
@media (min-width: 1600px) {
  .order-form__title {
    margin-bottom: 0;
    margin-right: 20px;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
  }
}

.order-form__title-container {
  margin-bottom: 32px;
}
@media (min-width: 1600px) {
  .order-form__title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.order-form__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order-form__account-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #6e6e6e;
  margin-right: 5px;
}

.order-form__account-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.goods {
  margin-bottom: 40px;
}

.goods__title {
  width: 200px;
  margin-bottom: 24px;
}
@media (min-width: 1600px) {
  .goods__title {
    width: 400px;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

.item {
  border-top: 0.5px solid #C8C8C8;
  border-bottom: 0.5px solid #C8C8C8;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
  margin-bottom: 16px;
}
@media (min-width: 1600px) {
  .item {
    padding-bottom: 25px;
    padding-top: 25px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 130px 20px 197px 20px 371px;
    grid-template-columns: 130px 197px 371px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 760px;
  }
}

.item__main-info {
  margin-bottom: 24px;
}

.item__img {
  position: absolute;
  display: block;
  top: 16px;
  left: 0;
  width: 90px;
  height: 111px;
}
@media (min-width: 1600px) {
  .item__img {
    position: static;
    width: 130px;
    height: 160px;
    margin-right: 20px;
  }
}

.item__title {
  margin-left: 102px;
  margin-bottom: 65px;
  width: 155px;
}
@media (min-width: 1600px) {
  .item__title {
    font-size: 20px;
    line-height: 24px;
    margin-left: 0;
    margin-bottom: 15px;
    width: 200px;
  }
}

.item__delete-button {
  position: absolute;
  top: 18px;
  right: 0;
  background-color: transparent;
  border: none;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.item__delete-button::after {
  position: absolute;
  content: "";
  width: 18.5px;
  height: 1.5px;
  background-color: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
  right: -2px;
}
.item__delete-button::before {
  position: absolute;
  content: "";
  width: 18.5px;
  height: 1.5px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
  right: -2px;
}

.information {
  margin-bottom: 16px;
}

.information__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}

.information__item-name {
  margin-right: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6e6e6e;
}

.information__item-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.size-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.size-list__item {
  position: relative;
  margin-right: 9px;
}
@media (min-width: 1600px) {
  .size-list__item {
    margin-right: 5px;
  }
}

.size-list__choise {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.size-list__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  border-radius: 6px;
  text-align: center;
  padding-top: 7.5px;
}

.size-list__choise:checked + .size-list__label {
  background-color: black;
  color: white;
}

.color-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color-list__item {
  position: relative;
  margin-right: 9px;
}

.color-list__choise {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.color-list__label {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.color-list__label--black {
  background-color: #444444;
}

.color-list__label--blue {
  background-color: #106DA1;
}

.color-list__label--brown {
  background-color: #AE6D0C;
}

.color-list__choise:checked + .color-list__label::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
  top: -2px;
  left: -2px;
}

.count {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 63px 8px 146px 8px 63px;
  grid-template-columns: 63px 146px 63px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
@media (min-width: 1600px) {
  .count {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

.count__amount {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.amount {
  position: relative;
  width: 146px;
  height: 42px;
  background-color: #F1F1F1;
  border-radius: 5px;
}
@media (min-width: 1600px) {
  .amount {
    width: 153px;
  }
}

.amount__field {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  position: absolute;
  top: 12px;
  left: 66px;
}

.amount__button {
  position: absolute;
  background-color: transparent;
  padding: 6px;
  cursor: pointer;
  border: none;
}

#button-minus {
  top: 16px;
  left: 14px;
}

.amount__button--minus::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  width: 12px;
  height: 2px;
  background-color: black;
}

#button-plus {
  top: 16px;
  left: 120px;
}

.amount__button--plus::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  width: 12px;
  height: 2px;
  background-color: black;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.amount__button--plus::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  width: 12px;
  height: 2px;
  background-color: black;
}

.amount__button--minus-disabled::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  width: 12px;
  height: 2px;
  background-color: #C8C8C8;
}

.price {
  min-width: 64px;
}

.price__before, .price__currency-before {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: line-through;
  color: #6e6e6e;
}

.price__after, .price__currency-after {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__after, .price__before {
  margin-right: 4px;
}

.item-deleted {
  background-color: #f1f1f1;
  margin-bottom: 16px;
  padding: 12px 32px 12px 8px;
  position: relative;
  margin-bottom: 16px;
}
@media (min-width: 1600px) {
  .item-deleted {
    width: 760px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.item-deleted__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #6e6e6e;
  margin-bottom: 4px;
}
.item-deleted__text .item-deleted__name {
  font-weight: 600;
}
@media (min-width: 1600px) {
  .item-deleted__text {
    margin-bottom: 0;
    margin-right: 25px;
  }
}

.item-deleted__delete-button {
  position: absolute;
  top: 12px;
  right: 8px;
  background-color: transparent;
  border: none;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.item-deleted__delete-button::after {
  position: absolute;
  content: "";
  width: 18.5px;
  height: 1.5px;
  background-color: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
  right: -2px;
}
.item-deleted__delete-button::before {
  position: absolute;
  content: "";
  width: 18.5px;
  height: 1.5px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
  right: -2px;
}

.item-deleted__recover-button {
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
}

.contacts {
  margin-bottom: 40px;
}

.contacts__title {
  margin-bottom: 24px;
}

.contacts__field {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 16px;
  border: 2px solid #8F8F8F;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.contacts__field--address {
  padding: 12px 42px 12px 16px;
  resize: none;
  overflow: hidden;
  position: relative;
}

.contacts_address-button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 16px;
  right: 8px;
  padding: 10px;
  cursor: pointer;
}

.contacts__container {
  position: relative;
}

.contacts__name {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6e6e6e;
  background-color: #ffffff;
  top: -11px;
  left: 16px;
  padding: 4px;
}

.contacts__address-map {
  width: 288px;
  height: 220px;
}

.payment {
  margin-bottom: 40px;
}

.payment__title {
  margin-bottom: 24px;
}

.payment-type__item {
  position: relative;
}

.payment-type__item:not(:last-child) {
  margin-bottom: 20px;
}

.payment-type__label {
  margin-left: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.payment-type__label::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
  top: 4px;
  left: 4px;
}

.payment-type__choise {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.payment-type__choise:checked + .payment-type__label::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  border: 1px solid #6e6e6e;
  border-radius: 50%;
  background-color: transparent;
  top: -2px;
  left: -2px;
}

.comments {
  margin-bottom: 40px;
}

.comments__title {
  margin-bottom: 24px;
}

.comments__field {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 4px;
  border: 2px solid #8F8F8F;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #6e6e6e;
  resize: none;
  overflow: hidden;
}

.comments__counting {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6e6e6e;
  margin-left: 16px;
}

.total {
  border: 2px solid #6e6e6e;
  padding: 24px 16px;
}

.total-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.total-container {
  border-bottom: 1px solid #C8C8C8;
  margin-bottom: 12px;
}

.total__delivery-terms {
  border-bottom: 1px solid #C8C8C8;
}

.total__price {
  margin-bottom: 12px;
}

.total__price-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.total__price-count {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.total__discount {
  margin-bottom: 8px;
}

.total__discount-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.total__discont-count {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #D92C2C;
}

.total__sale {
  margin-bottom: 8px;
}

.total__sale-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.total__sale-count {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #D92C2C;
}

.total__promo {
  margin-bottom: 12px;
}

.total__promo-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.total__promo-count {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #D92C2C;
}

.total__delivery {
  margin-bottom: 12px;
}

.total__delivery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.total__delivery-count {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.total__delivery-terms {
  margin-bottom: 12px;
}

.total__delivery-switch {
  margin-bottom: 10px;
}

.total__delivery-terms-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.total__delivery-terms-disclamer {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6e6e6e;
  margin-bottom: 12px;
}

.total__endprice {
  margin-bottom: 12px;
}

.total__endprice-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 12px;
}

.total__endprice-count {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.total__endprice-promo {
  width: 100%;
  padding: 12px 16px;
  border: 2px solid #8F8F8F;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #6e6e6e;
}

.form__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  border: none;
  color: white;
  background-color: black;
  padding: 15px 62px;
  margin-bottom: 10px;
  cursor: pointer;
}

.form__button:hover {
  background-color: #6E6E6E;
  -webkit-transition: 0.3sec;
  transition: 0.3sec;
}

.form__button:disabled {
  color: #6E6E6E;
  background-color: #C8C8C8;
}

.form__disclaimer {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #6e6e6e;
  text-align: center;
}

.form__link {
  color: #6e6e6e;
  text-decoration: underline;
}

.main-footer {
  height: 38px;
  background-color: #ffffff;
}

.delivery-switch {
  width: 34px;
  height: 14px;
  background-color: #C8C8C8;
  opacity: 0.5;
  mix-blend-mode: normal;
  border-radius: 10px;
  position: relative;
}

.main-nav {
  position: absolute;
  background-color: #ffffff;
  z-index: 10;
}
@media (min-width: 1600px) {
  .main-nav {
    position: static;
    display: block;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.user-nav {
  position: absolute;
  background-color: #ffffff;
  z-index: 10;
}
@media (min-width: 1600px) {
  .user-nav {
    position: static;
    display: block;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media (min-width: 1600px) {
  .main-header__container {
    margin: 0 200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 400px 400px 400px;
    grid-template-columns: 400px 400px 400px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 72px;
  }
}

@media (min-width: 1600px) {
  .main-header {
    border-bottom: 0.5px solid #C8C8C8;
    margin-bottom: 50px;
  }
}