* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #8F8F8F;
}

body {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  background-color: #ffffff;
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 1600px) {
  body {
    max-width: 1600px;
  }
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  color: #000000;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

fieldset {
  border: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  width: 288px;
  margin: 0 auto;
}
@media (min-width: 1600px) {
  .main-container {
    width: 1200px;
  }
}

.header-box {
  min-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 16px;
}

.header-box__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 80px;
}

.header-box__user-button {
  width: 28px;
  height: 23px;
  padding: 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.header-box__user-button img {
  position: absolute;
  top: 0;
  left: 0;
}

.header-box__nav-button {
  width: 32px;
  height: 23px;
  padding: 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.header-box__nav-button img {
  position: absolute;
  top: 8px;
  left: 0;
}

.site-list__item {
  padding: 16px;
  border-bottom: 2px solid #f1f1f1;
  width: 320px;
  padding: 16px;
  text-align: center;
}

.site-list__link {
  padding: 16px auto;
  color: #000000;
}

.user-list__item {
  padding: 16px;
  border-bottom: 2px solid #f1f1f1;
  width: 320px;
  padding: 16px;
  text-align: center;
}

.user-list__link {
  padding: 16px auto;
  color: #000000;
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumb__link {
  color: #6e6e6e;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-right: 24px;
  position: relative;
}

.breadcrumb__link:not(.breadcrumb__link--current)::before {
  position: absolute;
  content: "/";
  color: #6e6e6e;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-right: 24px;
  top: 0;
  right: -38px;
}

.breadcrumb__link--current {
  color: #000000;
}

.order-form__title {
  margin-bottom: 10px;
}

.order-form__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 32px;
}

.order-form__account-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #6e6e6e;
  margin-right: 5px;
}

.order-form__account-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.goods {
  margin-bottom: 40px;
}

.goods__title {
  width: 200px;
  margin-bottom: 24px;
}

.item {
  border-top: 0.5px solid #C8C8C8;
  border-bottom: 0.5px solid #C8C8C8;
  padding-bottom: 16px;
  padding-top: 16px;
  position: relative;
  margin-bottom: 16px;
}

.item__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.item__img {
  margin-right: 12px;
}

.item__title {
  padding-right: 26px;
}

.item__delete-button {
  position: absolute;
  top: 18px;
  right: 0;
  background-color: transparent;
  border: none;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.item__delete-button::after {
  position: absolute;
  content: "";
  width: 18.5px;
  height: 1.5px;
  background-color: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
  right: -2px;
}
.item__delete-button::before {
  position: absolute;
  content: "";
  width: 18.5px;
  height: 1.5px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
  right: -2px;
}

.information {
  margin-bottom: 16px;
}

.information__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
}

.information__item-name {
  margin-right: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6e6e6e;
}

.information__item-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.size-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

.size-list__item {
  position: relative;
  margin-right: 9px;
}

.size-list__choise {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.size-list__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  border-radius: 6px;
  text-align: center;
  padding-top: 7.5px;
}

.size-list__choise:checked + .size-list__label {
  background-color: black;
  color: white;
}

.color-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.color-list__item {
  position: relative;
  margin-right: 9px;
}

.color-list__choise {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.color-list__label {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.color-list__label--black {
  background-color: #444444;
}

.color-list__label--blue {
  background-color: #106DA1;
}

.color-list__label--brown {
  background-color: #AE6D0C;
}

.color-list__choise:checked + .color-list__label::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
  top: -2px;
  left: -2px;
}

.count {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 8px 50% 8px 25%;
  grid-template-columns: 25% 50% 25%;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.count__amount {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.amount__field {
  width: 100%;
}

.price__before {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: line-through;
  color: #6e6e6e;
}

.price__after {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.item-deleted {
  background-color: #f1f1f1;
  margin-bottom: 16px;
  padding: 12px 32px 12px 8px;
  position: relative;
  margin-bottom: 16px;
}

.item-deleted__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #6e6e6e;
  margin-bottom: 4px;
}
.item-deleted__text .item-deleted__name {
  font-weight: 600;
}

.item-deleted__delete-button {
  position: absolute;
  top: 12px;
  right: 8px;
  background-color: transparent;
  border: none;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.item-deleted__delete-button::after {
  position: absolute;
  content: "";
  width: 18.5px;
  height: 1.5px;
  background-color: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
  right: -2px;
}
.item-deleted__delete-button::before {
  position: absolute;
  content: "";
  width: 18.5px;
  height: 1.5px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
  right: -2px;
}

.item-deleted__recover-button {
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
}

.contacts {
  margin-bottom: 40px;
}

.contacts__title {
  margin-bottom: 24px;
}

.contacts__field {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 16px;
  border: 2px solid #8F8F8F;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #6e6e6e;
}

.contacts__field--address {
  padding: 12px 42px 12px 16px;
  resize: none;
  overflow: hidden;
}

.contacts__container {
  position: relative;
}

.contacts__name {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #6e6e6e;
  background-color: #ffffff;
  top: -11px;
  left: 16px;
  padding: 4px;
}